@media (max-width: 450px) {
    .btnLogin {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem !important;
        height: 3rem !important;
    }

    .searchBox input {
        width: 8rem !important;

    }

    .searchBox {
        width: 10rem !important;
    }

    .btnLogin a {
        display: none;
    }

    .menuBar {
        color: white;
        font-size: 20px;
        width: 1rem;
        display: block;
    }

    #navBar {
        display: none;
    }
}

/*       max withe 756                    */
@media (max-width: 756px) {
    .product {
        width: 14rem;
        display: block;
    }

    .existence-discount {
        display: flex;
        flex-flow: row;
        width: 100%;
        height: 3rem;
    }

    .img-price .img img {
        width: 200px;
        height: 150px;
        border-radius: 0;
    }

    .existence-discount div {
        font-size: 20px;
        width: 2rem;
        height: 2rem;
    }
}

/*       max width 765 px                */
@media (max-width: 770px) {
    #sliderSite img {
        border-radius: 0;
        margin: 0;
        width: 100%;
    }

    #sliderSite i {
        top: 3rem;
        right: 0;
    }
}